<header class="header">

  <div class="container">
    <nav class="nav">
      <a class="logo" href="#"> <img src="/img/svg/logo.svg" alt="logo"></a>
      <button class="burger" aria-label="open" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <ul class="menu" data-menu>
        <li class="menu_item"><a href="#">What we do</a></li>
        <li class="menu_item"><a href="#">Our work</a></li>
        <li class="menu_item"><a href="#">seo insights</a></li>
        <li class="menu_item"><a href="#">About us</a></li>
      </ul>
    </nav>
