// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/blog";
@import "./components/inner-html";
@import "./components/footer";

// тестовые стили, удалите их

html {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140.76%;
}

.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
